<div class='main-nav'>
  <div class='navbar'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar mobile-menu-icon-bar'></span>
        <span class='icon-bar mobile-menu-icon-bar'></span>
        <span class='icon-bar mobile-menu-icon-bar'></span>
      </button>
      <a class='navbar-brand brand-title' [routerLink]='["/"]'>Net Present Value</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="menu">
          <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Calculate
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="menu">
          <a [routerLink]='["/previous-results"]'>
            <span class='glyphicon glyphicon-education'></span> Previous Results
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
